.search-form-container {
  background-image: url('/assets/react19.jpeg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 1rem;
  align-items: center;
  gap: 0.6rem;
  border-radius: 10px;
  border: 1px solid grey;
  margin: 3rem auto;
  font-size: 2rem;

  .search-form-nlp-input {
    color: rgb(231, 229, 229)
  }
}

.search-form-input-container {
  width: 60vw;
  font-size: 1.5rem;
  overflow-y: hidden;
  font-family: serif;
  font-style: italic;
  text-decoration: none;
  height: 1.875rem;
}

.search-form-submit {
  background-color: rgb(217, 217, 223);
  font-size: 1.5rem;
  border-radius: 0.625rem;
  padding: 0.625rem;
  cursor: pointer
}

.search-form-submit:hover {
  background-color: rgb(177, 180, 199);
}

.search-form-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 10px
}