:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  cursor: url('/assets/react.svg'), auto;

  label {
    cursor: url('/assets/react.svg'), auto;
  }

  body {
    background-color: rgb(218, 218, 235);
  }
}