:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  body {
    background-color: rgb(209, 209, 224);
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
